@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.videos::wevkit-scrollbar {
  width:0px;
}

a {
  text-decoration: none;
  color:inherit;
}

::-webkit-scrollbar {
  width:4px;
}

::-webkit-scrollbar-thumb {
  background:rgba(237,237,237);
  border-radius:40px;
}


::-webkit-scrollbar-track {
  background:transparent;
}